[class^="icon-"], [class*=" icon-"] {
  background-repeat: no-repeat;
  background-size: 100%;
}

i[class^="icon-"], i[class*=" icon-"] {
  font-size: 0;
  display: inline-block;
}

.icon-ubicacion {
  width: 420px; height: 420px;
  background-image: url(images/ubicacion.jpg);
}
.icon-tonel {
  width: 1958px; height: 315px;
  background-image: url(images/tonel.png);
}
.icon-amarillo {
  width: 800px; height: 800px;
  background-image: url(images/amarillo.png);
}



