[class^="x-"], [class*=" x-"] {
  background-repeat: no-repeat;
  background-size: 100%;
}

i[class^="x-"], i[class*=" x-"] {
  font-size: 0;
  display: inline-block;
}

.x-ubicacion {
  width: 420px; height: 420px;
  background-image: url(images/ubicacion.jpg);
}
.x-tonel {
  width: 1958px; height: 315px;
  background-image: url(images/tonel.png);
}
.x-amarillo {
  width: 800px; height: 800px;
  background-image: url(images/amarillo.png);
}



