ul.reset.flex
  li.auto
    a.p(href='https://www.facebook.com/CervezaDiogenesGDL' target='_blank')
      +iconImage('facebook', true)
  li.auto
    a.p(href='https://twitter.com/CervezaDiogenes' target='_blank')
      +iconImage('twitter', true)
  li.auto
    a.p(href='https://www.instagram.com/cervezadiogenes' target='_blank')
      +iconImage('instagram', true)
  li.auto
    a.p(href='https://untappd.com/cervezadiogenes' target='_blank')
      +iconImage('untappd', true)
