ul.reset.flex
  li.auto
    a.p(href='https://www.facebook.com/CervezaDiogenesGDL' target='_blank')
      +iconImage('facebook')
  li.auto
    a.p(href='https://twitter.com/CervezaDiogenes' target='_blank')
      +iconImage('twitter')
  li.auto
    a.p(href='https://www.instagram.com/cervezadiogenes' target='_blank')
      +iconImage('instagram')
  li.auto
    a.p(href='https://untappd.com/cervezadiogenes' target='_blank')
      +iconImage('untappd')
