//-
  ---
  title: Cerveza Diógenes
  classes: diogenes
  ---

extends ../lib/layouts/default

block top
  include ../lib/partials/menu
  #info.nosl.shadow
    p NUNC<br />QUIDEM<br />PAULULUM<br />A SOLE.

  //-
    #banner.nosl
      img(src='flyer_dic_15.jpeg')
    script.
      banner.onclick = () => { banner.style.display = 'none'; };
      /* eslint-disable */
