//-
  ---
  title: Tonel de Diógenes
  menu: !include _menu.yml
  classes: tonel
  ---

extends ../lib/layouts/default

block head
  includeTag(src='sprites/menu.css')

block top
  nav.fixed.segment.nosl
    p.caps Argentina #17, Col. Americana
    div.caps
      ul.reset
        li: +linkFor('/')
          +iconImage('fauno')
        li: +linkFor('/tonel/#drinks', 'Bebidas').shadow
        li: +linkFor('/tonel/#food', 'Pequeña cocina').shadow

block body
  .body.segment.center
    div.nosl
      .push
        +getVideo('Tonel_de_Diogenes_Moral-Chico', 960, 420).fit

      .push.clear
        +linkFor('/tonel')
          image.fit.max(src='tonel')
        p: span Cerveza Artesanal

    each section in menu.sections
      .push.nosl
        a(name=section.name)
        .md-flex
          .md-half
            .flex
              .half
                for item in section.items.left
                  +prodList(item)
              .auto.icons
                for icon in section.icons.left
                  icon(src=`sprites/menu/${icon}`)
          .md-half
            .flex
              .half
                for item in section.items.right
                  +prodList(item)
              .auto.icons
                for icon in section.icons.right
                  icon(src=`sprites/menu/${icon}`)

  .body.segment
    div: footer.push
      .nosl.dark.flex
        a.map(href='//www.google.com/maps/place/Tonel+de+Di%C3%B3genes/@20.676062,-103.361329,15z/data=!4m5!3m4!1s0x0:0x7f1c34ae5e61f002!8m2!3d20.676062!4d-103.361329' target='_blank')
          image.fit(src='ubicacion' alt='Argentina #17, Col. Americana')

        .auto
          dl.caps.shadow
            dt Horario
            dt Martes a Sábado
            dd 13:00 A 23:00
            dt Domingo
            dd 13:00 A 20:00
