include ../mixins/helpers

doctype html
html.no-js(lang='en')
  head
    meta(name='package' content=`${pkg.name} v${pkg.version}`)
    meta(name='revision' content=GIT_REVISION)
    base(href=(ROOT || '') + '/')

    block head
    include ../partials/head

    import(from='styles.css images.css')
  body(class=classes || '')
    block top
    block body
    block scripts

    #social.fixed.segment
      div: include ../partials/social
